<div class="object_box">
	<h1>Фотографии объекта</h1>
	<p>
		<i><%= link_to @object.title, object_path(@object.id)%> / фотографии</i>
	</p>
	<% @object.photos.each do |p|%>
		<%= link_to image_tag(p.img.url(:list), :class=>:photo_object), p.img.url(:medium), :rel => :lazybox , :class=>"image"%>
	<% end %>
</div>
