// Active Admin CSS Styles
@import "active_admin/mixins";
@import "active_admin/base";

// To customize the Active Admin interfaces, add your
// styles here:
.photo_box{
  display: inline-block;
  padding: 5px;
  margin: 5px;
  float: left;
  text-align: center;
  border: solid 1px #999;
  background: #e1e1e1;
}
