body {
	background:#fff;
	position:relative;
	overflow-x:hidden;
	width:100%;
}
.warp {
	width:100%;
}
.main {
	width:1000px;
	margin:0 auto;
}

header.main {
	height:64px;
	background:url('headerBg.png') no-repeat;
}
header.main div.logo {
	float:left;
	margin: 7px 0 0 24px;
}
header.main div.contacts {
	float:right;
	width:555px;
	margin-top:10px;
}
header.main div.contacts div {
	float:left;
	width:185px;
}
header.main div.contacts div img {
	margin-bottom:-11px;
}
header.main div.contacts div.phone p,header.main div.contacts div.phone span {
	font-size:16px;
}
header.main div.contacts div.phone {
	margin-right:12px;
	float:right;
}
header.main div.contacts div.skype {
	width:167px;
}
header.main div.contacts div.phone p {
	float:right;
	border-bottom:1px dotted;
	margin:6px 20px 0 0;
}
header.main div.contacts div.phone span.gray {
	color:#898989;
}

header.main div.contacts div.phone img {
	margin-bottom:-8px;
}

/*		WARP		*/
section.warp {
	background:#000 url('twoBg.jpg');
	height:419px;
	width:1920px;
	position:absolute;
	left:50%;
	margin-top:-2px;
	box-shadow:0 -3px 5px #999;
	margin-left:-960px;
}
section.warp div.left {
	width:440px;
	margin-left:43px;
	float:left;
}
section.warp div.right {
	margin-top: 33px;
    width: 382px;
	float:right;
}
section.warp .h1 {
	margin:50px 0;
}
section.warp p {
	color:#c2c2c2;
	margin-bottom:16px;
	width:440px;
}
div.secondMain {
   height:8px;
   width:100%;
   background:url(1bg.png) repeat;
}
section.warp .bottom a {
	color:#fff;
	background:url('blueArrow.png') no-repeat;
    display: block;
    font-size: 14px;
    height: 25px;
	text-decoration:none;
    margin-top: 60px;
    padding: 8px 0 0 23px;
    width: 149px;
}
section.warp .bottom a:hover {
	background:url('redArrow.png') no-repeat;
}
/*		CONTENT		*/
section.main {
	margin-top:30px;
 position: relative;
}
div.bigMap {
	width:1000px;
	margin-top:33px;
}
div.mapNotify {
	width:458px;
	border-radius:10px;
	background:#fff;
	height:305px;
	box-shadow:0 0 40px #999;
	padding:25px;
	position:absolute;
	z-index:990;
	left:40px;
	top:60px;
}
div.mapNotify big {
	font-size:30px;
}
div.mapNotify span.gray {
	color:#555;
}
div.mapNotify sup {
	font-size:8px;
	vertical-align:super;
}
div.buyStart {
	overflow:hidden;
	margin-top:60px;
}
div.buyStart h1 {
	text-transform:none;
}
div.buyStart .left p.notify {
	color:#555;
	font-weight:bold;
	margin-top:30px;
}
div.buyStart .left {
	width:470px;
	float:left;
}
div.buyStart a,div.buyStart p {
	font-size:13px;
}
div.buyStart p {
	margin-bottom:20px;
}
div.buyStart .right {
	float:right;
	width:490px;
}

div.buyStart .right .info a.pdf {
	margin-left:22px;
	margin-bottom:20px;
}
div.buyStart .right .info a img {
	margin-bottom:-20px;
	padding-right:9px;
}
div.buyStart .right .info span {
	color:#636363;
}
div.buyStart .right .info {
	background:#ececed;
	border:1px solid #e2e2e2;
	padding:22px 22px 38px;
	box-shadow:inset 0 0 8px #555;
}
div.buyForm {
	margin:50px 0 0 185px;
}
div.buyForm p {
	overflow:hidden;
	min-height:40px;
	max-height:200px;
	margin-bottom:10px;
}
input.buy {
	width:490px;
	background:#fff;
	float:left;
	color:#555;
	height:20px;
	padding:0 5px;
	border:1px solid #abadb3;
}
input.active {
	color:#000;
}
div.buyForm span.notify {
	color:#555;
	width:250px;
	font-size:13px;
	float:left;
	margin-left:10px;
}

textarea.buy {
	background:#fff;
	border:1px solid #abadb3;
	width:656px;
	padding:2px;
	height:156px;
	font-size:12px;
	font-family:Arial;
	color:#555;
	margin-top:15px;
	resize:none;
}
textarea.active {
	color:#000;
}
div.buyForm label {
	font-size:13px;
	width:150px;
	margin-right:10px;
	display:block;
	float:left;
}
div.buyForm label.nofloat {
	float:none;
}
section.main header {
	padding:27px 0 30px 0;
	width:730px;
}
section.main header p {
	font-size:13px;
}
div.storyListing, div.newsListing {
	width:1000px;
	overflow:hidden;
	margin:0 -32px -32px 0;
}
div.storyListing .left, div.newsListing .left {
	float:left;
	width:300px;
}
div.storyListing .center,div.newsListing .center {
	float:left;
	margin: 0 43px;
	width:300px;
}

div.storyListing .right,div.newsListing .right {
	float:right;
	width:311px;
}
div.storyListing .story,div.newsListing .news {
	width:299px;
	border:1px solid #d3d3d3;
	border-radius:2px;
	background:url('storyBg.png') top repeat-x;
	float:left;
	padding-top:44px;
	margin-bottom:43px;
	height:434px;
}
div.story div.image ,div.news div.image {
	margin-bottom:40px;
	text-align:center;
}
div.story div.image img, div.news div.image img {
	padding:2px;
	border:1px solid #d0d0d0;
	border-radius:3px;
	box-shadow:0 0 6px #d0d0d0;
}
div.story div.text,div.news div.text {
	width:195px;
	margin: 0 auto 40px;
}
div.news header div.date b {
	display:block;
	font-size:24px;
	font-weight:normal;
	color:#636363;
}
div.news header div.date {
	color:#636363;
	font-size:10px;
}
div.news header {
	margin:-55px 0 0 31px;
}
div.story div.text a.title {
	font-size:16px;
	color:#1c58ba;
	display:block;
	margin-bottom:13px;
}
div.story div.text p.name {
	color:#7d7d7d;
	margin-top:17px;
}
div.listPage {
	width:300px;
	margin:0 auto;
	text-align:center;
	margin-bottom:40px;
}
div.listPage a {
	font-size:16px;
	color:#1c58ba;
	margin-left:24px;
	padding:3px 7px;
}
div.listPage a.active {
	background-color:#555;
	color:#fff;
	text-decoration:none;
}
div.listPage {
	width:300px;
	float:right;
	text-align:right;
	margin:-67px 0 0;
}
div.newsListing div.listPage,div.storyListing div.listPage {
	margin:-60px -48px 50px;
	float:right;
	clear:both;
	text-align:center;
}
div.newsView {
	padding: 0 25px;
}
div.newsView header {
	width:1000px;
	margin:0 -25px;
	background:url('newsHeader.png') bottom repeat-x;
}
div.newsView header div.date b {
	display:block;
	font-size:24px;
	font-weight:normal;
	color:#636363;
}
div.newsView header div.date {
	color:#636363;
	float:left;
    margin: 0 22px 0 23px;
    text-align: center;
	font-size:10px;
}
div.newsView header  {
	font-size:24px;
}
div.newsView p {
	margin:25px 0;
}
a.listBack {
	float:right;
	display:block;
	margin:-67px 0 0;
}
div.storyListing .center .story:first-child,div.newsListing .center .news:first-child {
	height:373px;
}
div.storyListing .right .story:first-child,div.newsListing .right .news:first-child {
	height:340px;
}
/*		FOOTER		*/
footer.main div.urls, footer.main div.logo {
	float:left;
}
footer.main div.logo {
	margin-left:20px;
}
footer.main div.right {
	margin-right:20px;
}
footer.main div.right a {
	color:#898989;
}
footer.main div.right a.skype {
	color:#1c58ba;
	text-decoration:none;
}

footer.main div.right {
	float:right;
	width:160px;
	color:#898989;
	text-align:right;
}
footer.main div.urls a {
	margin:0 50px 0 0;
	color:#898989;
}
footer.main div.urls p {
	margin-bottom:-6px;
}
footer.main div.urls {
	width:480px;
	margin-left:50px;
}
footer.main {
	overflow:hidden;
	margin:5px auto 50px;
	padding-top:35px;
	background:url('footerBg.png') top repeat-x;
}

div.partnerListing {
	overflow:hidden;
	margin:-5px -10px 0 -20px;
}
div.partnerListing .element {
	width:492px;
	background:url('partnerBg.png') top repeat-x;
	border:1px solid #d3d3d3;
	border-radius:2px;
	min-height:222px;
	float:left;
	margin:0 10px 30px;
}
div.partnerListing .element header {
	padding:19px 27px 0;
}
div.partnerListing .element footer {
	margin:15px 0 10px;
}
div.partnerListing .element footer p {
	color:#898989;
}
div.partnerListing .element p {
	width:461px;
	margin:0 20px;
}