/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require objects
 *= require plans
 *= require rooms
 *= require declarations
 *= require feedbacks
 *= require main
 *= require menus
 *= require lib/lazybox
*/


.padding{
  padding: 6px 0;
}

#alert_box {
    display: none;
    background: none repeat scroll 0 0 #038ee5;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    left: 40%;
    padding: 20px;
    position: fixed;
    top: 40%; 
    z-index: 99999;
}

.brone{
  a{
    background: #038ee5;
    cursor: pointer;
    padding: 5px 7px;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none
  }
}

.brone:hover{
  a{
    background: #035dd5;
    color: #fff;
  }
}
    
.col1, .col2, .col3, .cols { float:left;}

.col_1{ width:270px; float:left;}
.col_2{ width:690px; float:left;}

.col1{ width:250px; float:left;}
/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block}
mark, rp, rt, ruby, summary, time {display:inline }
/* Left & Right alignment */
.left  {float:left}
.right  {float:right}
.blue {color: #038ee5 }
.current{font-size: 14px; font-weight: bold; }
.wrapper {width:100%;overflow:hidden}
/* Global properties ======================================================== */
body {
	border:0;
	font:14px "Myriad Pro",Arial,sans-serif;
	color:#4d4d4d;
	line-height:25px;
	min-width:960px;
	overflow:hidden
	}
#backgroundImage{
	  left: 0;
    position: fixed;
    top: 0;
    z-index: -1;
}
.ic {border:0;float:right;background:#fff;color:#f00;width:50%;line-height:10px;font-size:10px;margin:-220% 0 0 0;overflow:hidden;padding:0}
.css3{border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;box-shadow:0 0 4px rgba(0, 0, 0, .4);-moz-box-shadow:0 0 4px rgba(0, 0, 0, .4);-webkit-box-shadow:0 0 4px rgba(0, 0, 0, .4);position:relative}
/* Global Structure ============================================================= */
.main {	margin:0 auto;width:1004px;overflow:hidden}
.block {height: 90px}
.extra {min-height:100%;height:auto !important;height:100%;margin:0 auto -95px;position:relative;}
body, html {height:100%}
.bg1 {background:#fff;position:relative;z-index:1;height: 95px}
.box {width:100%;overflow:hidden;padding-top:30px;padding-bottom:30px;position:relative}
.spinner {}
.bg_spinner {}
#bgSlider  img {left:auto !important;right:0 !important}
.pagination {position:relative;padding:34px 0 0px 48px;float:left}
.pagination li {float:left;padding-right:4px;font-size:18px;color:#434343;line-height:1.2em;letter-spacing:-1px}
.pagination a {display:inline-block;background:url(buttons.png) right 5px no-repeat;width:20px;height:25px;text-align:center;color:#08afee;text-decoration:none;text-align:center}
.pagination a:hover, .pagination .current a {background-position:left;color:#fff;text-decoration:none}
/* ============================= main layout ====================== */
a {color:#4d4d4d;text-decoration:underline;outline:none}
a:hover {text-decoration:none}
h2 {font-size:36px;color:#08afee;line-height:1.2em;padding:17px 0 16px 0;letter-spacing:0px}
/* ============================= header ====================== */
header {
  #logo {
    background: url("logo_bg.png") no-repeat scroll -7px -7px blue;
    float: left;
    height: 200px;
    text-align: center;
    width: 240px;
    .image{
      margin: 18px auto 0;
      img{
        width: 100px;
      }
    }
    .name{
      color: #fff;
      -moz-text-shadow: 0 0 1px #000;
      -webkit-text-shadow: 0 0 1px #000;
      text-shadow: 0 0 1px #000;
      margin-top: -10px;
      font-size:10px;
      .c_name1, .c_name2 {
         font-size: 24px;
         letter-spacing: 1px;
         text-transform: uppercase;
      }
      .c_name1{
         color: #fff;
      }
      .c_name2{
         color: #000;
          -moz-text-shadow: 0 0 1px #fff;
        -webkit-text-shadow: 0 0 1px #fff;
        text-shadow: 0 0 1px #fff;
      }
    }
  }
  #header_text{
    float: right;
    text-align: right;
    span{
      font-size: 16px;
      display: inline-block;
      padding: 5px 15px;
      background: #fff;
      text-transform: uppercase;
      margin: 1px;
      opacity: 0.9;
    }
  }  
}


#content{
  display: inline-block;
	height:100%;
	margin-top: 55px;
	#menu  {
		width: 297px;
		float: left;
	}
	#content_block{
	  opacity: 0.9;
    width: 645px;
	  background: #fff;
    float: left;
    min-height: 400px;
    margin-left: 15px;
    padding: 30px 10px 30px 30px;
    position: relative
  }
}
a.blue_link{
  text-decoration:none;
  color: #038ee5;
}
a.blue_link:hover{
   text-decoration: underline;
}

#menu > li  {
	width:100%;
	overflow:hidden;
	padding-bottom:3px;
	opacity: 0.9;
}
#menu > li > a {
	display:inline-block;
	font-size:16px;
	line-height:46px;
	color:#434343;
	background:#fff;
	text-decoration:none;
	position:relative;
}
#menu > li > a:hover {
	background: #038ee5;
	color: #fff;
}
#menu > li > a:hover strong{
	color: #fff;
}
#menu > li > a strong {
  position:relative;
  display:block;

  padding:0 25px;
  height:45px;
  font: inherit;
  vertical-align: baseline;
  color:#111;
}
#menu > li > a.active strong {
	border-bottom:0;border-right:0;padding-bottom:1px;padding-right:61px
	}
/* ============================= content ====================== */

.box1 {background:url(../images/content_bg.png) repeat;width:100%;height:100%;position:absolute;bottom:0;left:0}
.inner {padding:25px 60px;position:relative}
.pad_left1 {padding-left:70px}
.pad_bot2 {padding-bottom:10px}
.pad_bot1 {padding-bottom:15px}
.marg_right1 {margin-right:20px}
#page_Prices .pad_bot1 {padding-bottom:20px}
.quot {background:url(../images/quot1.png) 0 8px no-repeat;padding-left:18px;font-size:17px;line-height:20px;color:#7f7f7f;font-style:italic;text-shadow:1px 0 #a3a3a3, -1px 0 #e8e8e8;padding-top:3px;padding-bottom:12px}
.quot img {display:inline-block;padding-top:4px}
.color1 {color:#08afee}
.link1 {color:#08afee;text-decoration:none}
.link1:hover {text-decoration:underline} 
.scroll {height:145px !important;margin-bottom:32px;overflow:hidden}
.prev, .next {float:left;width:31px;height:31px;margin-right:9px;position:relative;background:url(../images/markers.gif) 0 0 no-repeat}
.next {background-position:right 0}
.prev span, .next span {position:absolute;top:0;left:0;width:100%;height:100%;background:url(../images/markers.gif) left bottom no-repeat}
.next span {background-position:right bottom}
.close {position:absolute;top:20px;right:20px;background:url(../images/close.gif) 0 0 no-repeat;width:15px;height:15px}
.close span {position:absolute;width:100%;height:100%;top:0;left:0;background:url(../images/close_active.gif) 0 0 no-repeat}
#content figure {padding-top:3px}
.table {border-top:1px solid #a2c0c9; border-left:1px solid #b8c9ce;margin-top:3px;margin-left:2px;margin-bottom:15px}
.table td, .table th {width:80px;height:41px;text-align:center;vertical-align:middle;border-bottom:1px solid #b3bfc4;border-right:1px solid #b3bfc4;color:#40626d;line-height:14px}
.table th {background:url(../images/table_bg1.png) repeat}
.table th.bg {background:url(../images/table_bg2.png) repeat}
.table td.bg {background:url(../images/table_bg3.png) repeat}
.table td.bg2 {background:url(../images/table_bg4.png) repeat}
/* ============================= columns ====================== */
.col_1 {width:270px;float:left}
.col_2 {width:690px;float:left}
.col1 {width:250px;float:left}
/* ============================= footer ====================== */
footer  {position:relative;line-height:20px}
footer a {color:#08afee;text-decoration:none}
footer a:hover {text-decoration:underline}
footer span {color:#08afee}
#icons {margin:40px 0 0 5px}
#icons li {float:left;padding-right:7px}
/* Tooltips */
.aToolTip  {background:url(../images/menu_bg_active.gif) top repeat-x; color:#fff;margin:0;padding:2px 10px 3px;font-size:11px;line-height:1.2em;position:absolute}
.aToolTip .aToolTipContent  {position:relative;margin:0;padding:0}
.col_2 {padding:35px 0 0 0;text-align:center}
/* ============================= forms ============================= */
#ContactForm {margin-top:-2px}
#ContactForm .wrapper {overflow:inherit;min-height:35px}
#ContactForm .textarea_box{min-height:130px}
#ContactForm a {margin-left:20px;float:right;line-height:18px}
#ContactForm .input  {margin:0;width:540px;height:18px;background:#fff;border:1px solid #e5e4e3;padding:5px 14px;color:#a6a6a6;font:14px Arial, Helvetica, sans-serif}
#ContactForm textarea  {overflow:auto;margin:0;width:540px;height:112px;background:#fff;border:1px solid #e5e4e3;padding:5px 14px;color:#a6a6a6;font:14px Arial, Helvetica, sans-serif}
div.mapNotify sup {
    font-size: 8px;
    vertical-align: super;
}
div.mapNotify {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 40px #999999;
    left: 71px;
    padding: 25px;
    position: absolute;
    top: 73px;
    width: 210px;
    z-index: 990;
}
.flash{
  margin: 20px 0px; 
}
.error, .success, .notice{
    background: none repeat scroll 0 0 #FEFFD6;
    color: #666666;
    padding: 10px 20px;
    text-align: center;
}
.error{
    border: 1px solid red
}
.success{
    border: 1px solid #66CC00
}
.notice{
    border: 1px solid green
}
#error_explanation{
  padding-bottom: 15px;
  ul li{
    list-style: none;
    color: #990000;
  }
}
hr{
  margin: 15px 0;
}
.round10{
    -moz-border-radius: 10px 10px 0 0 ; /* Firefox */
    -webkit-border-radius: 10px 10px 0 0 ; /* Safari, Chrome */
    -khtml-border-radius: 10px 10px 0 0 ; /* KHTML */
    border-radius: 10px 10px 0 0 ; /* CSS3 */
 }
#loading {
    display: none;
    left: 49%;
    position: fixed;
    top: 48%;
    .overlay {
    background: none repeat scroll 0 0 #000000;
    bottom: 0;
    left: 0;
    opacity: 0.3;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
  }
}
span.ico{
  background: url(sprite.png);
}
span.upload_ico{
  width: 16px;
  height: 16px;
  background-position: 0 -312px;
  a{
    padding-left: 20px;
  }
}
.gray{
  color: #757575;
}
