// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#room_box{
  display:block;
  height: 640px;
  h1.title{
    padding-left: 18px;
  }
  .left_block{
    float:left;
    width: 258px;
    padding: 5px 20px;
    font-size: 15px;
    p.price{
      margin-top: 2px;
      padding: 0;
      span{ 
        font-size: 22px;
        font-style: italic;
      }
    }
    .description_room{
      font-style: italic;
      p{
      }
    }
    .each_floors{
    }
  }
  .right_block{
    float: left;
    width: 435px;
    .image{
      border: 2px solid #E5E5E5;
      height: 500px;
      margin-bottom: 20px;
      padding: 10px;
      text-align: center;
      position: relative;
      img{
        max-width:500px;
        max-height: 500px;
      }
    }
    
    .infos {
      background: none repeat scroll 0 0 #717171;
      color: #FFFFFF;
      padding: 5px 3px 5px 10px;
      position: absolute;
      right: -2px;
      text-align: right;
      top: -2px;
    }
    
    .options{
      width: 500px;
      .item{
        .label{
          display: inline-block;
          width: 153px;
        }
        .digit{
          display: inline-block;
          padding-right: 3px;
          text-align: right;
          width: 50px;
        }   
      }
     h3{
        margin: 25px 0 0px
      }
    }
  }
  .each_floors{
    a{
      padding: 0 5px;
    }
  }
  .compas{
    margin: 26px 5px;
    text-align: center;
    width: 165px;
  }
}

sup {
    font-size: 8px;
    vertical-align: super;
}
.rooms_item{
  .room_box{
    background: #e1e1e1;
    width: 300px;
    display: inline-block;
    padding: 5px;
    position: relative;
    height: 165px;
    .image{
      background: none repeat scroll 0 0 #FFFFFF;
      border: 2px solid #CCCCCC;
      float: left;
      width: 130px;
      padding: 5px;
      text-align: center;
      vertical-align: middle;
      img{
        max-width: 120px;
      }
     }
     .text{
       padding-left: 5px;
       float: left;
       width: 140px;
       
       .digit_area{
         color: gray;
          display: block;
          font-size: 22px;
          padding: 5px 0 10px;
       }
     }
     .bottom{
         bottom: 8px;
         left: 155px;
         position: absolute;
     }
  }
}
