	<div class="left_block">
		<div class="each_floors">	
			<% if @object.rooms %>		
			Квартиры на этом этаже:
			<% i=0 %>
			<% @object.rooms.where(:number_floor=> @room.number_floor ).each do |r|%>
				<%= link_to r.number_room, room_path(r.id), :remote=>true, :class=>"#{current(r.id, params[:id])} blue" %> | 
			<% end %>
			<% end %>
			<div class="each_floors">			
			Другие этажы:
			<% i=0 %>
			<% @object.floors_int.times do %>
				<%= link_to i=i+1, plan_floor_path(@object.id, i), :remote=>true, :class=>"#{current(i, @room.number_floor)} blue" %> | 
			<% end %>
		</div>
		</div>
		<div class="clear"></div>
		<div class="compas">
			<%= image_tag "kompas-32.png"%>
		</div>
		<div class="clear"></div>
		<h3>Похожие квартиры</h3>
		<% @object.rooms.where(:count_rooms=> @room.count_rooms ).order("RAND(id)").each do |r|%>
			<%= link_to r.number_room, room_path(r.id), :remote=>true, :class=>"#{current(r.id, params[:id])} blue" %> | 
		<% end %>
	</div>