<nav class="warp firstmenu">
		<div class="main">
			<div class="capability">
				<a href="" class="f">
					Возможности системы
				</a>
				<div class="main subMenu" id="capability">
					<ul class="warp">
						<li>
							<a href="">Увеличение количества обрабатываемых заказов</a>
							<ul>
								<li><a href="">Десятки тысяч обрабатываемых заказов в сутки</a></li>
								<li><a href="">Моментальная обработка заявки </a></li>
								<li><a href="">Автоматическое распределение заказов</a></li>
								<li><a href="">Предварительный расчет стоимости заказа</a></li>
								<li><a href="">Снижение «холостого прогона» автомобилей </a></li>
								<li><a href="">Минимальное время подачи машины</a></li>
							</ul>
						</li>
						<li>
							<a href="">Повышение лояльности водителей</a>
							<ul>
								<li><a href="">Максимальная лояльность водителей</a></li>
								<li><a href="">Мгновенная оплата услуг диспетчерской</a></li>
							</ul>
						</li>
						<li>
							<a href="">Лучшие условия для ваших клиентов</a>
							<ul>
								<li><a href="">Множество способов заказа такси для ваших клиентов</a></li>
								<li><a href="">Индивидуальный подход к корпоративным клиентам</a></li>
								<li><a href="">Гарантированное выполнение заказа</a></li>
								<li><a href="">Бонусы клиентам</a></li>
								<li><a href="">Прозрачность расчета стоимости поездки</a></li>
							</ul>
						</li>
						<li>
							<a href="">Снижение затрат на обслуживание диспетчерской</a>
							<ul>
								<li><a href="">Сохранение инвестиций в IT инфраструктуру компании 	</a></li>
								<li><a href="">Простота администрирования системы</a></li>
								<li><a href="">Качественная и стабильная телефония</a></li> 	
								<li><a href="">Уникальная расширяемость</a></li>
							</ul>
						</li>
						<li>
							<a href="">Повышение управляемости компанией</a>
							<ul>
								<li><a href="">Управление диспетчерской из любой точки мира	</a></li>
								<li><a href="">Повышение самодисциплины сотрудников 	</a></li>
								<li><a href="">Любой отчет по работе диспетчерской в несколько кликов мышью 	</a></li>
								<li><a href="">Безопасность и защита информации 	</a></li>
							</ul>
						</li>
						<li>
							<a href="">Повышение производительности труда сотрудников</a>
							<ul>
								<li><a href="">Снижение нагрузки на операторов </a></li>
								<li><a href="">Удобство и легкость работы 		</a></li>
							</ul>
						</li>
					</ul>
					<footer><a href=""><img src="/assets/allcap.png" alt="" /> Посмотреть все возможности системы</a></footer>
				</div>
			</div>
			<div class="about">
				<a href="" class="f productD">
					О продукте
				</a>
				<div class="main subMenu" id="about">
					<ul class="warp">
						<li>
							<a href="">Функциональные возможности</a>
							<ul>
								<li><a href="">Автоматизация процесса приема и обработки заказов. Повышение производительности труда операторов</a></li>
								<li><a href="">Контроль и анализ деятельности диспетчерской</a></li>
								<li><a href="">Повышение эффективности работы водителей</a></li>
								<li><a href="">Администрирование системы. Снижение расходов на обслуживание </a></li>
								<li><a href="">Увеличение количества обрабатываемых заказов</a></li>
								<li><a href="">Персонализированное взаимодействие с клиентами</a></li>
							</ul>
						</li>
						<li>
							<a href="">Видеопрезентации</a>
							<ul>
								<li><a href=""><img src="/assets/videoMenu.png" alt="" />Контроль и анализ деятельности диспетчерской</a></li>
								<li><a href=""><img src="/assets/videoMenu.png" alt="" />Контроль и анализ деятельности диспетчерской</a></li>
								<li><a href=""><img src="/assets/videoMenu.png" alt="" />Контроль и анализ деятельности диспетчерской</a></li>
							</ul>
						</li>
						<li>
							<a href="">Дополнительное оборудование</a>
							<ul>
								<li><a href="">GSM-шлюзы</a></li>
								<li><a href="">IP-ATC Агат UX </a></li>
								<li><a href="">Гарнитуры</a></li>
								<li><a href="">Платы CTI</a></li>
								<li><a href="">IP-телефоны</a></li>
							</ul>
						</li>
						<li>
							<a href="">Обучающее видео</a>
							<ul>
								<li><a href="">Версия 2.4.0.1. Что нового?</a></li>
								<li><a href="">Настройка карточки заказа</a></li>
								<li><a href="">Настройка карточки заказа (расширенный видеокурс)</a></li>
								<li><a href="">Расчет стоимости поездок по зонам внутри города</a></li>
								<li><a href="">Настройка загородных тарифов</a></li>
								<li><a href="">Расчет стоимости поездок по времени</a></li>
								<li><a href="">Расчет стоимости поездок по расстоянию</a></li>
							</ul>
						</li>
						<li>
							<a href="">Что требуется для запуска</a><br />
							<a href="">Infinity+MTC</a><br />
						</li>
					</ul>
					<footer></footer>
				</div>
				
			</div>
			<div>
				<a href="">
					Истории успеха
				</a>
			</div>
			<div>
				<a href="">
					Купить
				</a>
			</div>
			<div>
				<a href="" class="companyD">
					О компании
				</a>
			</div>
			<div>
				<a href="">
					Форум
				</a>
			</div>
		</div>
	</nav>